body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.introduction {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
  position: relative;
  z-index: 3;
}

.introduction h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #fff; /* Changed from #222 to white */
}

.introduction p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 10px auto 0;
  color: #fff; /* Changed from #3c3c3c to white */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.curtain-left {
  position: fixed;
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/29/N-TN-C192_Brihadeeswarar_Temple_at_Sunset.jpg);
  background-size: 200% 100%;
  background-position: left center;
  z-index: 2;
}

.curtain-right {
  position: fixed;
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/29/N-TN-C192_Brihadeeswarar_Temple_at_Sunset.jpg);
  background-size: 200% 100%;
  background-position: right center;
  z-index: 2;
}

.curtain-left {
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: transform 2s ease-in-out;
}

.curtain-right {
  right: 0;
  top: 0;
  transform: translateX(0);
  transition: transform 2s ease-in-out;
}

.curtain-left.open {
  transform: translateX(-100%);
}

.curtain-right.open {
  transform: translateX(100%);
}

.pfp img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.pfp img:not(:hover) {
  transition: transform 0.3s ease-in-out; /* Slower ease-out when not hovering */
}

.pfp img:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

.enter {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  animation: pulse 0.75s infinite
}

.enter:hover {
  background-color: #00d12d;
  transition: background-color 0.3s ease-in-out;
  animation-play-state: paused;
}

.enter:not(:hover) {
  background-color: #007bff;
  transition: background-color 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}