body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.introduction {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.curtain-left, .curtain-right {
  position: fixed;
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  background-color: #007bff;
  z-index: 2;
}

.curtain-left {
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 2s ease-in-out;
}

.curtain-right {
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 2s ease-in-out;
}

.curtain-left.open, .curtain-right.open {
  transform: translateX(0);
}

.pfp img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.introduction h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #222;
}

.introduction p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 10px auto 0;
  color: #3c3c3c;
}

.pfp img:not(:hover) {
  transition: transform 0.3s ease-in-out; /* Slower ease-out when not hovering */
}

.pfp img:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

.enter {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.enter:hover {
  animation: pulse 1s infinite;
  background-color: #00d12d;
  transition: background-color 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}