body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Introduction Section CSS */
.introduction {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
  position: relative;
  z-index: 3;
}

.introduction h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #fff; /* Changed from #222 to white */
}

.introduction p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 10px auto 0;
  color: #fff; /* Changed from #3c3c3c to white */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.curtain-left {
  position: fixed;
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  background-image: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(https://upload.wikimedia.org/wikipedia/commons/2/29/N-TN-C192_Brihadeeswarar_Temple_at_Sunset.jpg);
  background-size: 200% 100%;
  background-position: left center;
  z-index: 2;
  
}

.curtain-right {
  position: fixed;
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  background-image: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(https://upload.wikimedia.org/wikipedia/commons/2/29/N-TN-C192_Brihadeeswarar_Temple_at_Sunset.jpg);
  background-size: 200% 100%;
  background-position: right center;
  z-index: 2;
}

.curtain-left {
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: transform 2s ease-in-out;
}

.curtain-right {
  right: 0;
  top: 0;
  transform: translateX(0);
  transition: transform 2s ease-in-out;
}

.curtain-left.open {
  transform: translateX(-100%);
}

.curtain-right.open {
  transform: translateX(100%);
}

.pfp img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transform: scale(1.0);
  transition: transform 0.4s ease-in-out;
}

.pfp img.flipped {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a2/Namam_-_Sreevaishnavas.jpg);
}

.pfp img.flipped, .pfp img.flipped:hover {
  transform: rotateY(180deg) scale(1.1);
  transition: transform 0.4s ease-in-out;
}

.pfp img:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.enter {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  animation: pulse 0.75s infinite
}

.enter:hover {
  background-color: #00d12d;
  transition: background-color 0.3s ease-in-out;
  animation-play-state: paused;
}

.enter:not(:hover) {
  background-color: #007bff;
  transition: background-color 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.location {
  position: relative;
  z-index: 3;
  color: white;
  top: 0;
  right: 0;
}

.location p {
  top: 0;
  right: 0;
  position: relative;
}

/* Background Section CSS */
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #202061, #12123b, #0a0a30, #000010);
  z-index: -1;
}

/* Header Section CSS */
.header {
  background: #00001076;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.header img {
  width: 75px;
}
  
.nav {
  justify-content: flex-end;
}

.nav ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 70px;
  margin-left: auto;
  margin-right: 100px;
  padding: 0;
}

.nav li {
  position: relative;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s;
  padding: 8px 16px;
  border-radius: 50px;
  display: inline-block;
  background-color: transparent;
  z-index: 1;
  position: relative;
}

.nav li a:hover {
  transform: translateY(-2px);
  border-radius: 50px;
}

.nav li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: radial-gradient(circle, rgba(0, 123, 255, 0.7), transparent);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
  z-index: 0;
}

.nav li a:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

/* Background CSS */
.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 3s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/* Segment1 Section CSS */
.segment1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.segment1-content {
  text-align: center;
}

.projects-button, .contact-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: white;
}

.projects-button:hover, .contact-button:hover {
  background-color: #007bff;
  color: white;
}

.projects-button a, .contact-button a {
  color: inherit;
  text-decoration: none;
}

.profile-img {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.segment1 h1 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.subtitle {
  font-size: 1rem;
  color: #ccc;
  margin: 5px 0;
  font-weight: 200;
}

.external-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.external-links img {
  width: 40px;
  opacity: 0.75;
  justify-content: space-between;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
}

.external-links img:hover {
  opacity: 100%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}